@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  header,
  aside,
  .no-print {
    display: none !important;
  }
  .print-content-container {
    height: auto !important;
    overflow: visible !important;
  }
  main {
    padding: 0 !important;
    background: white !important;
    overflow: visible !important;
  }
  #nda-preview {
    box-shadow: none !important;
    max-width: 100% !important;
    margin: 0 !important;
    border-radius: 0 !important;
  }
  body {
    background: white !important;
  }
}
